config.yml
development
archive_dir
__pycache__
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.log
*.csv
*.json
*.pkl
*.h5
*.npy
*.npz
*.ipynb
*.txt
*_arc.py
build/
dist/
*.spec
*.bat
backtesting_results
backtest_strategies
ENCRYPTED_FILE